.link{
    color: #222;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1;
    margin: 0 0.5rem 0.5rem 0;
    padding: 0.25rem;
    text-decoration: none;
    border-bottom: 2px solid #222;
}
.title{
    border-bottom: none;
    text-decoration: none;
}
.header{
    background: #eee;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
}